{% extends 'App_main/Receptionist/receptionist_base.html' %}
{% load static %}
{% block body %}
    <style>
        #myInput {
            width: 100%;
            height: 50px;
            border-radius: 5px;
        }

        table {
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
    <div id="table_all" class="container" style="margin: 50px 2px!important; text-align: center!important;">
        <input id="myInput" type="text" placeholder="Search..">
        <br><br>
        <table class="table table-hover" style="background-color: cornsilk; border-radius: 10px;">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Doctor</th>
                <th scope="col">Patient</th>
                <th scope="col">Serial Number</th>
                <th scope="col">Appointment Date</th>
                <th scope="col">Delete(if Expired)</th>
            </tr>
            </thead>
            <tbody id="myTable">
            {% for appointment in appointments %}
                <tr>
                    <th>{{ appointment.doctor.user.first_name }} {{ appointment.doctor.user.last_name }}</th>
                    <td>{{ appointment.patient.user.first_name }} {{ appointment.patient.user.last_name }}</td>
                    <td>{{ appointment.serial_number }}</td>
                    <td>{{ appointment.appointment_date }}</td>
                    <td>
                        <a href="{% url 'App_main:ReceptionistRejectAppointment' pk=appointment.id %}">
                            <p style="color: #000!important;" class="btn btn-danger">Delete</p>
                        </a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}