{% extends 'App_main/Receptionist/receptionist_base.html' %}
{% load static %}
{% block body %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        a:link {
            text-decoration: none !important;
            color: #34495e;
        }

        .card {
            border-radius: 6px !important;
            -webkit-box-shadow: 0 2px 3px 0 rgba(4, 26, 55, 0) !important;
            border: none !important;
        }

        .card .card-block {
            padding: 20px;
        }

        .card-color-blue {
            background: linear-gradient(45deg, #2085f8, #d2ecf3);
        }

        .card-color-green {
            background: linear-gradient(45deg, #128762, #e3f6f5);
        }

        .card-color-pink {
            background: linear-gradient(45deg, #e65cea, #ecdbe6);
        }

        .card-color-yellow {
            background: linear-gradient(45deg, #f1e8ae, rgba(243, 144, 69, 0.73));
        }
    </style>
    <div class="row" style="margin: 50px 35px 0 35px;">
        <div class="col-md-3 market-update-gd">
            <div class="col-md-12">
                <div class="container">
                    <hr>
                    <div class="row">
                        <div class="col-sm-9">
                            <h6 class="mb-0">Total Doctors:</h6>
                        </div>
                        <div class="col-sm-3 text-secondary">
                            <b style="color: #0446a8">{{ doctor_count }}</b>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-9">
                            <h6 class="mb-0">Approval Require:</h6>
                        </div>
                        <div class="col-sm-3 text-secondary">
                            <b style="color: #f10606">{{ doctor_to_approve }}</b>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-md-4 market-update-gd">
            <div class="col-md-12">
                <div class="container">
                    <hr>
                    <div class="row">
                        <div class="col-sm-9">
                            <h6 class="mb-0">Admitted Patients:</h6>
                        </div>
                        <div class="col-sm-3 text-secondary">
                            <b style="color: #0446a8">{{ patient_count }}</b>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
{#            <div class="market-update-block clr-block-2">#}
{#                <div class="col-md-8 market-update-left">#}
{#                    <h3>{{ patient_count }}</h3>#}
{#                    <h4>Admitted Patients </h4>#}
{#                </div>#}
                {#                <div class="col-md-4 market-update-right">#}
                {#                    <i class="fa fa-user-o"></i>#}
                {#                </div>#}
{#                <div class="clearfix"></div>#}
{#            </div>#}

        <div class="col-md-4 market-update-gd">
            <div class="col-md-12">
                <div class="container">
                    <hr>
                    <div class="row">
                        <div class="col-sm-9">
                            <h6 class="mb-0">Appointments:</h6>
                        </div>
                        <div class="col-sm-3 text-secondary">
                            <b style="color: #0446a8">{{ appointment_count }}</b>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-9">
                            <h6 class="mb-0">Approval Require:</h6>
                        </div>
                        <div class="col-sm-3 text-secondary">
                            <b style="color: #f10606">{{ appointment_to_approve_count }}</b>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
{#            <div class="market-update-block clr-block-3">#}
{#                <div class="col-md-8 market-update-left">#}
{#                    <h3>{{ appointment_count }}</h3>#}
{#                    <h4>Appointment</h4>#}
{#                    <p>Approval Required : {{ appointment_to_approve_count }} </p>#}
{#                </div>#}
                {#                <div class="col-md-4 market-update-right">#}
                {#                    <i class="fa fa-calendar"> </i>#}
                {#                </div>#}
{#                <div class="clearfix"></div>#}
{#            </div>#}
        </div>
        <div class="clearfix"></div>
    </div>




    <div class="container" style="margin: 0px 0!important;">
        <br><br>
        <div class="row">
            <div class="col-md-4 col-xl-3">
                <div class="card card-color-blue">
                    <a href="{% url 'App_main:ReceptionistAllAppointments' %}" class="card-block">
                        <h4>All Appointments</h4><br>
                        <img src="{% static 'images/icons/doctor_1.png' %}" style="width: 50px; height: 50px;"
                             class="text-left" alt="dr">
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-xl-3">
                <div class="card card-color-green">
                    <a href="{% url 'App_main:ReceptionistAdmittedPatient' %}" class="card-block">
                        <h4>Admitted Patients</h4><br>
                        <img src="{% static 'images/icons/doctor_female.png' %}" style="width: 50px; height: 50px;"
                             class="text-left" alt="dr">
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-xl-3">
                <div class="card card-color-pink">
                    <a href="{% url 'App_main:ReceptionistDischargedPatients' %}" class="card-block">
                        <h4>Discharged Patients</h4><br>
                        <img src="{% static 'images/icons/approved.png' %}" style="width: 50px; height: 50px;"
                             class="text-left" alt="dr">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin: 50px 0!important;">
        <div class="row">
            <div class="col-md-4 col-xl-3">
                <div class="card card-color-pink">
                    <a href="{% url 'App_main:ReceptionistGiveAppointment' %}" class="card-block">
                        <h4>Give Appointment</h4><br>
                        <img src="{% static 'images/icons/doctor_1.png' %}" style="width: 50px; height: 50px;"
                             class="text-left" alt="dr">
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-xl-3">
                <div class="card card-color-green">
                    <a href="{% url 'App_main:ReceptionistAdmitPatient' %}" class="card-block">
                        <h4>Admit A Patient</h4><br>
                        <img src="{% static 'images/icons/doctor_female.png' %}" style="width: 50px; height: 50px;"
                             class="text-left" alt="dr">
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-xl-3">
                <div class="card card-color-blue">
                    <a href="{% url 'App_main:ReceptionistDoctorView' %}" class="card-block">
                        <h4>All Doctors</h4><br>
                        <img src="{% static 'images/icons/approved.png' %}" style="width: 50px; height: 50px;"
                             class="text-left" alt="dr">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin: 50px 0!important;">
        <div class="row">
            <div class="col-md-4 col-xl-3"></div>
            <div class="col-md-4 col-xl-3">
                <div class="card card-color-yellow">
                    <a href="{% url 'App_main:ReceptionistApproveAppointments' %}" class="card-block">
                        <h4>Approve Appointments </h4><br>
                        <img src="{% static 'images/icons/doctor_female.png' %}" style="width: 50px; height: 50px;"
                             class="text-left" alt="dr">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-3"></div>
    </div>




 <script type="text/javascript">
        let inputsare = document.getElementsByTagName('input');
        inputsare.className = 'form-control';
    </script>
{% endblock %}